/* table.css */
.table-container {
  max-width: 1500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.table-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  font-family: "Arial", sans-serif;
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}
/* table.css */
/* Existing styles */

.pagination-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.pagination-controls button {
  padding: 10px 15px;
  margin: 0 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #009879;
  color: white;
  cursor: pointer;
}

.pagination-controls button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.page-numbers {
  display: flex;
  margin-left: 20px;
}

.page-numbers button {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0 5px;
  background-color: #f0f0f0;
  color: #333;
  cursor: pointer;
}

.page-numbers button.active {
  background-color: #009879;
  color: white;
}

.page-size-control {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-family: Arial, sans-serif;
}

.page-size-control label {
  font-weight: bold;
  margin-right: 10px;
  font-size: 16px;
}

.page-size-control select {
  padding: 5px 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.page-size-control select:hover {
  border-color: #007bff;
}

.page-size-control select:focus {
  border-color: #007bff;
  outline: none;
}
